[Unit]
Description=WSL ssh agent relay service
After=network.target

[Service]
Type=simple

ExecStart=${HOME}/.local/bin/wsl-ssh-agent-relay2
ExecStopPost=rm -f ${HOME}/.ssh/wsl-ssh-agent.sock
PassEnvironment=USERPROFILE

[Install]
WantedBy=default.target
